<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">
  <Appenders>
    <!-- TODO change File's to RollingRandomAccessFile's appender -->
    <File name="scenario-1:3" fileName="logs/events">
      <MarkerFilter marker="EVENTARC" onMatch="DENY" onMismatch="NEUTRAL"/>
      <PatternLayout charset="ISO-8859-1" pattern="%m%n"/>
    </File>
    <File name="scenario-4" filename="logs/marker-appender-filtered-events">
      <MarkerFilter marker="EVENTARC" onMatch="ACCEPT"/>
      <PatternLayout charset="ISO-8859-1" pattern="%m%n"/>
    </File>
    <!-- TODO add other appenders for each scenario -->

    <Console name="stdout" target="SYSTEM_OUT">
      <PatternLayout charset="ISO-8859-1" pattern="%m%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="stdout"/>
      <AppenderRef ref="scenario-1:3"/>
      <AppenderRef ref="scenario-4"/>
    </Root>
  </Loggers>
</Configuration>
